{
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["log", "warn", "error"]
      }
    ]
  }
}
